################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppPackages
/BundleArtifacts
/bin
/obj
/ImageCrypt_StoreKey.pfx
